@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap");

:root {
  --primary-color: #0a0a0a;
  --secondary-color: #fdc676;
  --font-family: "Merriweather", serif;
}

body {
  font-family: var(--font-family);
}

h2 {
  font-size: 3.5rem;
}

.banner {
  display: none;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
}

.banner p:first-of-type {
  margin-bottom: 1rem;
}

nav {
  position: absolute;
}

header {
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

header h1 {
  padding-top: 6rem;
  color: white;
  line-height: 1.5;
  font-size: calc(8.5vw + 3vh + 2vmin);
}

h2 {
  margin-top: 30px;
  font-weight: 700;
}

h2 + p {
  text-align: center;
  margin-top: 20px;
  line-height: 2;
  padding: 0 1.3rem;
}

.left__container {
  flex: 1;
  background-color: var(--primary-color);
  padding-bottom: 15rem;
}

.left__container p {
  margin-top: 2rem;
  color: #ffffff;
  opacity: 80%;
  font-size: 1.35rem;
  line-height: 1.7;
  padding: 0 1rem;
  font-size: calc(0vw + 1vh + 3vmin);
}

p .millions {
  text-decoration: line-through;
  opacity: 0.8;
}

.yellow__text,
yellow__text_perm {
  color: var(--secondary-color);
}

.billions {
  color: var(--secondary-color);
  margin-left: 0.2rem;
}

.right__container {
  display: none;
  background-color: var(--secondary-color);
  flex: 1;
}

.work__section h2 {
  font-size: calc(5vw + 9vh + 2vmin);
  letter-spacing: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.work__container {
  display: flex;
  flex: 1;
}

.work__section__desc {
  font-size: calc(1vw + 1.2vh + 2vmin);
  margin: 1.5rem;
  line-height: 1.4;
  font-weight: 600;
}

span.developer {
  display: inline-block;
  -webkit-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  transform: skewY(10deg);
}

@media only screen and (min-width: 1070px) {
  header div {
    padding: 3rem;
  }
  .right__container {
    display: block;
  }
  header h1 {
    padding-top: 0rem;
  }
  .work__section {
    padding: 0 50px;
  }
  .work__section h2 {
    font-size: calc(5vw + 5vh + 2vmin);
  }

  .work__section__desc {
    max-width: 200px;
    font-size: calc(1vw + 5vh + 2vmin);
    font-weight: 520;
    line-height: 1;
  }
}
