@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap");

:root {
  --primary-color: #0a0a0a;
  --secondary-color: #fdc676;
  --font-family: "Merriweather", serif;
}

body {
  font-family: var(--font-family);
}

h2 {
  font-size: 3.5rem;
}

.banner {
  display: none;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
}

div h2 {
  text-align: center;
}

.banner p:first-of-type {
  margin-bottom: 1rem;
}

nav {
  position: absolute;
}

header {
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

header h1 {
  padding-top: 6rem;
  color: white;
  min-width: 10ch;
  line-height: 1.5;
}

h2 {
  margin-top: 30px;
  font-weight: 700;
}

h2 + p {
  text-align: center;
  margin-top: 20px;
  line-height: 2;
  padding: 0 1.3rem;
}

.left__container {
  flex: 1;
  background-color: var(--primary-color);
  padding-bottom: 15rem;
}

.left__container p {
  margin-top: 2rem;
  color: #ffffff;
  opacity: 80%;
  font-size: 1.35rem;
  line-height: 1.7;
  padding: 0 1rem;
  word-wrap: none;
}

p .millions {
  text-decoration: line-through;
  opacity: 0.8;
}

.yellow__text,
yellow__text_perm {
  color: var(--secondary-color);
}

.billions {
  color: var(--secondary-color);
  margin-left: 0.2rem;
}

.right__container {
  display: none;
  background-color: var(--secondary-color);
  flex: 1;
}

/* .yellow__line_one {
  width: 20px;
  height: 50%;
  position: absolute;
  margin-top: 2rem;
  background-color: var(--secondary-color);
} */

.work__section {
}

.work__section h2 {
  font-size: calc(5vw + 9vh + 2vmin);
  letter-spacing: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1070px) {
  header div {
    padding: 9rem;
  }
  .right__container {
    display: block;
  }
  .work__section {
    padding: 0 50px;
  }

  .work__section h2 {
    font-size: calc(3vw + 9vh + 2vmin);
  }
}
