---
import Blog from '../components/Blog.astro';
import Name from '../components/Name.astro';
import Now from '../components/Now.astro';
import Work from '../components/Work.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="William Bogans - Human | Software Engineer | Kool Kat">
<main>
		<Name/>
		<Work/>
		<Now/>
		<Blog/>
</main>

</Layout>
