---
import Blog from '../components/Blog.astro';
import Name from '../components/Name.astro';
import Now from '../components/Now.astro';
import Work from '../components/Work.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="William Bogans - One Kool Kat">
<div>

	<p style="text-align: center; font-size:4rem">Work in Progress. I deploy often to show my family though.</p>
<main>
		<Name/>
		<Work/>
		<Now/>
		<Blog/>
</main>
</div>

</Layout>
