<section class="name">
  <h1>
    William
    <span class="yellow__text">M.</span>
    Bogans
    <span class="yellow__text">III</span>
  </h1>

  <div class="i_am_a">
    <p>I am a:</p>
    <p>
      <span class="yellow__text">Hu</span><span class="blue__text">MAN</span>
    </p>
    <p>
      <span class="blue__text">Planet</span>
      <span class="yellow__text">Traverser</span>
    </p>
    <p class="nowrap">
      <span class="yellow__text">Software</span>
      <span class="blue__text engineer">Engineer</span>
    </p>
  </div>

  <div class="lets_chat">
    <p>Let's chat.</p>
    <ul>
      <li>
        <a class="yellow__text" href="mailto:me@williambogans.dev"
          >Send me an Email</a
        >
      </li>
      <li>
        <p>OR</p>
      </li>
      <li>
        <a
          target="_blank"
          class="yellow__text"
          href="https://calendly.com/wmb-iii/chat-with-the-kool-kat"
          >Book time on my Calender</a
        >
      </li>
    </ul>
  </div>
</section>

<style>

  section {
    background-color: var(--primary-dark);
    color: #fffff0;
  }

  .i_am_a {
    margin-left: auto;
    width: 55%;
    opacity: var(--opacity-8);
    margin-top: 2%;
    line-height: 2;
    font-size: calc(0.7rem + 1.66vw);
    margin-top: 5vw;
  }

  .i_am_a p:nth-child(2) {
    margin-left: 10%;
  }
  .i_am_a p:nth-child(3) {
    margin-left: 10%;
  }

  .i_am_a p:nth-child(4) {
    margin-left: 0.5em;
  }

  .engineer {
    display: inline-block;
    -webkit-transform: skewY(20deg);
    -ms-transform: skewY(20deg);
    transform: skewY(20deg);
    margin-top: var(--margin-sm);
  }

  .lets_chat {
    line-height: 1.5;
    margin-top: 5%;
    margin-bottom: 50px;
  }

  .lets_chat p {
    opacity: 0.75;
    font-weight: bold;
    font-size: calc(1rem + 0.8vw);
  }

  .lets_chat a {
    text-decoration: underline;
    font-size: calc(1rem + 1vw);
  }

  @media only screen and (min-width: 900px) {
  .i_am_a {
    line-height: 1.5;
    margin-bottom: 1.5vw;
    font-size: calc(0.5rem + 0.7vw);
  }

  .lets_chat p {
    font-size: calc(0.7rem + 0.5vw);
  }

  .lets_chat a {
    font-size: calc(0.7rem + 0.7vw);
  }
  }
</style>
