--- 
import Icon from "astro-icon";
import ProjectCard from "./ProjectCard.astro";
import WorkItemLayout from "../layouts/WorkItemLayout.astro";

import techStack from '../data/techStack.json'

export interface ProjectPageProps {
  company: string; 
  title: string;
  projects: [{}]
} 

const { company, title , projects} = Astro.props as ProjectPageProps

const technologies = techStack.filter(tech => tech.companies.includes(company))
.sort((a,b) => a.name.localeCompare(b.name))

--- 
<WorkItemLayout title="William - Zendesk career stint page">

<section>
<heading class="company__box">
  <div>
    <Icon name={company}/>
    <div class="explanation">
      <h1>The {title}.</h1>
      <p>The tools and tech I used while there.</p>
    </div>
  </div>
</heading>


<div class="technology__list">

  <h2>
    Tech Stack
  </h2>
  <p>These are all the technologies I <strong>remember</strong> working with while there</p>
    <ul>
      {technologies.map(technology => <li><a target="_blank" href={technology.website}>{technology.name}</a></li>)}
    </ul>
</div>
<div>
</div>

<div class="project__list">
  <h2>Projects</h2>
  {projects.map(project => <ProjectCard {...project}/>)}
</div>
</section>
</WorkItemLayout>

<style>

heading.company__box div {
	display: flex;
}

.explanation {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 5%;
}

.explanation h1 {
	font-size: calc(2.5rem + 2vw);
	margin-bottom: 10px;
	font-weight: bold;
}

.explanation p {
	font-size: calc(1.5rem + 1vw);
	opacity: 0.8;
	max-width: 25ch;
}

svg[astro-icon="zendesk"] {
		width: 55vh;
  } 

div.technology__list ul {
	column-count: 2;
	line-height: 1.9;
	font-size: 1.3rem;
	column-gap: 0;
	margin: 0 auto;
}

div.technology__list li {
	width: fit-content;
}

div.technology__list li a {
	text-decoration: none;
	padding-bottom: 5px;
  border-bottom-style: dashed;
  border-bottom-width: 3.1px;
  width: fit-content;
}

@media only screen and (min-width: 1000px) {

	div.technology__list {
		margin-bottom: 100px;
	}
	div.technology__list ul {
	column-count: 3;
}

	heading.company__box div {
		display: flex;
		justify-content: space-around;
		margin-bottom: 200px;
	}
	.project__list div .content__wrapper {
    display: flex;
  }


}

</style>

