<section class="work">
  <h2>
    w
    <span class="blue__text">
    O
    </span>
    r
    <span class="blue__text">
    K
    </span>
    </h2>
<p>A <span class="blue__text">collection</span> of things I've done in my life as a 
  <span class="developer blue__text">developer</span>
</p>

</section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

  section {
    background: var(--secondary-yellow);
  }

  section h2 {
    font-family: 'Lakki Reddy', cursive;
  }

  section p {
    font-weight: 700;
    max-width: 5ch;
    line-height: 1.2;
    text-align: left;
    font-family: 'Lakki Reddy', cursive;
    margin-bottom: 100px;
    padding-left: 2%;
    opacity: 0.86;
    font-size: calc(var(--font-l) + 3vw);
  }
  
  .developer {
    display: inline-block;
    -webkit-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    transform: skewY(10deg);
  }
</style>
