--- 
import Icon from "astro-icon";
import ProjectCard from "../../components/ProjectCard.astro";
import WorkItemLayout from "../../layouts/WorkItemLayout.astro";

import projects from '../../data/zendesk/projects.json'
--- 
<WorkItemLayout title="William - Zendesk career stint page">

<section>
  <Icon name="zendesk"/>
  <p>Projects I worked on while at Zendesk</p>
  {projects.map(project => <ProjectCard {...project}/>)}
</section>
</WorkItemLayout>

<style>
  @font-face {
    font-family: 'sharp-sans', 'Merriweather';
    src: url('/fonts/zendesk/Sharp-Sans.otf');
  }
  :root {
  --font-xl: calc(100 / 16 * 1vw);
	--font-l: calc(152 / 16 * 0.5vw);
	--font-m: calc(50 / 16 * 1.5vw);
	--font-s: calc(70 / 20 * 0.4em);
  }
  
  body {
  background-color: var(--zen-green);
  margin: 0;
  color: white;
  font-family: 'sharp-sans';
  padding: 20px;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section p {
  margin-bottom: 50px;
  font-size: var(--font-xl);
}

  svg {
    fill: #ed8f1c;
    margin-bottom: 40px;
    max-width: 50vw;
  }

</style>

