--- 
import Icon from "astro-icon";
import ProjectCard from "../../components/ProjectCard.astro";
import WorkItemLayout from "../../layouts/WorkItemLayout.astro";

import projects from '../../data/zendesk/projects.json'
import techStack from '../../data/techStack.json'

const zenologies = techStack.filter(tech => tech.companies.includes('zendesk'))
.sort((a,b) => a.name.localeCompare(b.name))

--- 
<WorkItemLayout title="William - Zendesk career stint page">

<section>
<div class="company__box">
  <Icon name="zendesk"/>
    <p>The Zortfolio.</p>
  </div>


  <p>The tech stack I used while there:</p>
  <ul class="technology__list">
    {zenologies.map(t => <li><a target="_blank" href={t.website}>{t.name}</a></li>)}
  </ul>

<div>
</div>
  {projects.map(project => <ProjectCard {...project}/>)}
</section>
</WorkItemLayout>

<style>
  @font-face {
    font-family: 'sharp-sans', 'Merriweather';
    src: url('/fonts/zendesk/Sharp-Sans.otf');
  }
  :root {
  --font-xl: calc(100 / 16 * 1vw);
	--font-l: calc(152 / 16 * 0.5vw);
	--font-m: calc(50 / 16 * 1.5vw);
	--font-s: calc(70 / 20 * 0.4em);
  }
  
  body {
  background-color: var(--zen-green);
 
}

.company__box svg {
  fill: #00a656;
}

</style>

