---
import 'reset-css'
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="William Bogans is a Remote Software Engineer. Who are you?"/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap");
	
	:root {
  --primary-dark: #0a0a0a;
  --secondary-yellow: #fdc676;
  --support-blue: #0095ff;
	--support-red: rgb(230, 0, 83);
	--tertiary-green: #31B96E;
	--zen-green: rgb(3, 54, 61);
	font-family: "Merriweather", serif;;
	--font-xl: calc(152 / 16 * 1.8vw);
	--font-l: calc(152 / 16 * 0.5vw);
	--font-m: calc(152 / 16 * 0.3em);
	--font-s: calc(152 / 16 * 0.4em);
}
</style>
