---
import 'reset-css'
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="William Bogans is a human first, remote software engineer. Who are you?"/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
	font-family: "Merriweather", serif;
	--zen-green: rgb(3, 54, 61);
	--zen-primary: #228f67;
	--zen-secondary: #efc93d;
	--studio-purple: rgb(71, 0, 214);
}

p,a, h2, li {
	color: white;
}
h2 {
		margin: 30px 0;
		font-size: calc(2.3rem + 2vw);
	}

body {
	margin: 0;
  font-family: 'sharp-sans';
	padding: 20px;
}

heading.company__box div {
	display: flex;
}

.explanation {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 5%;
}

.explanation h1 {
	font-size: calc(2.5rem + 2vw);
	margin-bottom: 10px;
	font-weight: bold;
}

.explanation p {
	font-size: calc(1.5rem + 1vw);
	opacity: 0.8;
	max-width: 25ch;
}

svg[astro-icon="zendesk"] {
		width: 55vh;
  } 

div.technology__list ul {
	column-count: 2;
	line-height: 1.9;
	font-size: 1.3rem;
	column-gap: 0;
	margin: 0 auto;
}

div.technology__list li {
	width: fit-content;
}

div.technology__list li a {
	text-decoration: none;
	padding-bottom: 5px;
  border-bottom-style: dashed;
  border-bottom-width: 3.1px;
  width: fit-content;
}

@media only screen and (min-width: 1000px) {

	div.technology__list {
		margin-bottom: 100px;
	}

	heading.company__box div {
		display: flex;
		justify-content: space-around;
		margin-bottom: 200px;
	}
	.project__list div .content__wrapper {
    display: flex;
  }


}

</style>
