---
import "reset-css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="William Bogans is a human first, remote software engineer. Who are you?"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>

:root {
    --one-five-line-height: 2;
  }

  p,
  a,
  h2,
  li {
    color: white;
  }

  h2 {
    font-size: calc(2.3rem + 2vw);
    margin-top: 3.125rem;
  }

  body {
    margin: 0;
    padding: 1.25rem;
  }
 
</style>
